asttokens==3.0.1
black==26.3.1
click==8.3.1
decorator==5.2.1
et_xmlfile==2.0.0
executing==2.2.1
greenlet==3.3.2
ipython==9.11.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.2.1
mypy_extensions==1.1.0
numpy==2.4.3
openpyxl==3.1.5
packaging==26.0
pandas==3.0.1
parso==0.8.6
pathspec==1.0.4
pexpect==4.9.0
platformdirs==4.9.4
prompt_toolkit==3.0.52
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
python-dateutil==2.9.0.post0
pytokens==0.4.1
six==1.17.0
SQLAlchemy==2.0.48
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.15.0
wcwidth==0.6.0
